In [1]:
import numpy as np
import pandas as pd
import seaborn as sns 
sns.set_palette('husl')

In [2]:
dane = pd.read_csv("IMDb movies.csv")

C:\Users\Natalie\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
k = dane.drop("date_published", axis=1)
k1 = k.drop("votes", axis=1)
k2 = k1.drop("budget", axis=1)
k3 = k2.drop("usa_gross_income", axis=1)
k4 = k3.drop("worlwide_gross_income", axis=1)
k5 = k4.drop("metascore", axis = 1)
k6 = k5.drop("reviews_from_users", axis=1)
baseReady = k6.drop("reviews_from_critics", axis=1)

In [7]:
baseReady.head()

,imdb_title_id,title,original_title,year,genre,duration,country,language,director,writer,production_company,actors,description,avg_vote
0,tt0000009,Miss Jerry,Miss Jerry,1894,Romance,45,USA,None,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,Drama,53,"Germany, Denmark",NaN,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",Fotorama,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8
3,tt0002101,Cleopatra,Cleopatra,1912,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2
4,tt0002130,L'Inferno,L'Inferno,1911,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0