In [31]:
import numpy as np
import pandas as pd
import seaborn as sns 
sns.set_palette('husl')

In [32]:
dane = pd.read_csv("IMDb movies.csv")

C:\Users\izabe\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [33]:
k = dane.drop("date_published", axis=1)
k1 = k.drop("votes", axis=1)
k2 = k1.drop("budget", axis=1)
k3 = k2.drop("usa_gross_income", axis=1)
k4 = k3.drop("worlwide_gross_income", axis=1)
k5 = k4.drop("metascore", axis = 1)
k6 = k5.drop("reviews_from_users", axis=1)
baseReady = k6.drop("reviews_from_critics", axis=1)

In [4]:
baseReady.head()

,imdb_title_id,title,original_title,year,genre,duration,country,language,director,writer,production_company,actors,description,avg_vote
0,tt0000009,Miss Jerry,Miss Jerry,1894,Romance,45,USA,None,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,Drama,53,"Germany, Denmark",NaN,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",Fotorama,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8
3,tt0002101,Cleopatra,Cleopatra,1912,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2
4,tt0002130,L'Inferno,L'Inferno,1911,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0

In [54]:
# stworzenie bazy z gatunkami i wypełnenie jej zerami
df_genres = pd.DataFrame()
for genre in range(len(baseReady)):
    value = baseReady.iloc[genre]['genre']
    value = value.split(',')
    for one_genre in range(len(value)):
        value[one_genre] = value[one_genre].lstrip()
        value[one_genre] = value[one_genre].rstrip()
        df_genres[value[one_genre]]=0

df_genres = df_genres.drop_duplicates()

idtitles = pd.DataFrame(data =baseReady.iloc[:]['imdb_title_id'],columns=["imdb_title_id"])

table_for_softset = pd.concat([id, df_genres], ignore_index=True)

nan_value = float("NaN")
table_for_softset = table_for_softset.fillna('0')
table_for_softset.head()

,imdb_title_id,Romance,Biography,Crime,Drama,History,Adventure,Fantasy,War,Mystery,...,Thriller,Sport,Animation,Musical,Music,Film-Noir,Adult,Documentary,Reality-TV,News
0,tt0000009,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,tt0000574,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,tt0001892,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,tt0002101,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,tt0002130,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [55]:
# wstawienie jedynek w odpowiednie miejsca
for title in range(len(table_for_softset)):

    for genres in range(1,len(table_for_softset.columns)):
        genre = baseReady.iloc[title]['genre']
        genre = genre.split(',')
        for one_genre in range(len(genre)):
            genre[one_genre] = genre[one_genre].lstrip()
            genre[one_genre] = genre[one_genre].rstrip()
            if genre[one_genre] == table_for_softset.columns[genres]:
                table_for_softset.at[title,genre[one_genre]] = 1

#table_for_softset.to_csv('final_base.csv',index=False)

In [56]:
#tworzenie kolumn i zer na YEARS
table_for_softset.insert(1, "Years_till_1950", 0,False)
table_for_softset.insert(2, "Years_1950-1985", 0,False)
table_for_softset.insert(3, "Years_after_1985", 0,False)

In [57]:
#tworzenie kolumn i zer na DURATION
table_for_softset.insert(4, "Duration<100", 0,False)
table_for_softset.insert(5, "Duration>=100", 0,False)

In [58]:
#tworzenie kolumn i zer na VOTES
table_for_softset.insert(6, "Votes_till_5", 0,False)
table_for_softset.insert(7, "Votes_between_5_and_7", 0,False)
table_for_softset.insert(8, "Votes_over_7", 0,False)

In [59]:
baseReady.at[83917,"year"]=2019

In [60]:
#tworzenie kolumn i zer na LANGUAGES
table_for_softset.insert(9, "English", 0,False)
table_for_softset.insert(10, "AnotherLanguage", 0,False)

In [61]:
#wykomentowane ale potrzebne w razie awarii wpisywania zer
"""
for each in range(len(table_for_softset)):
    table_for_softset.at[each,'Years_till_1950']=0
for each in range(len(table_for_softset)):
    table_for_softset.at[each,'Years_1950-1985']=0
for each in range(len(table_for_softset)):
    table_for_softset.at[each,'Years_after_1985']=0

for each in range(len(table_for_softset)):
    table_for_softset.at[each,'Duration<100']=0
for each in range(len(table_for_softset)):
    table_for_softset.at[each,'Duration>=100']=0

for each in range(len(table_for_softset)):
    table_for_softset.at[each,'Votes_till_5']=0
for each in range(len(table_for_softset)):
    table_for_softset.at[each,'Votes_between_5_and_7']=0
for each in range(len(table_for_softset)):
    table_for_softset.at[each,'Votes_over_7']=0

for each in range(len(table_for_softset)):
    table_for_softset.at[each,'English']=0
for each in range(len(table_for_softset)):
    table_for_softset.at[each,'AnotherLanguage']=0
"""

"\nfor each in range(len(table_for_softset)):\n    table_for_softset.at[each,'Years_till_1950']=0\nfor each in range(len(table_for_softset)):\n    table_for_softset.at[each,'Years_1950-1985']=0\nfor each in range(len(table_for_softset)):\n    table_for_softset.at[each,'Years_after_1985']=0\n\nfor each in range(len(table_for_softset)):\n    table_for_softset.at[each,'Duration<100']=0\nfor each in range(len(table_for_softset)):\n    table_for_softset.at[each,'Duration>=100']=0\n\nfor each in range(len(table_for_softset)):\n    table_for_softset.at[each,'Votes_till_5']=0\nfor each in range(len(table_for_softset)):\n    table_for_softset.at[each,'Votes_between_5_and_7']=0\nfor each in range(len(table_for_softset)):\n    table_for_softset.at[each,'Votes_over_7']=0\n\nfor each in range(len(table_for_softset)):\n    table_for_softset.at[each,'English']=0\nfor each in range(len(table_for_softset)):\n    table_for_softset.at[each,'AnotherLanguage']=0\n"

In [62]:
#wstawianie 1 do Years_till_1950
for each in range(len(baseReady)):
    if(int(baseReady.at[each,"year"])<1950):
        table_for_softset.at[each,'Years_till_1950'] = 1

#wstawianie 1 do Years_1950-1985
for each in range(len(baseReady)):
    if(1950<int(baseReady.at[each,"year"])):
        if(int(baseReady.at[each,"year"])<=1985):
            table_for_softset.at[each,'Years_1950-1985'] = 1

#wstawianie 1 do Years_after_1985
for each in range(len(baseReady)):
    if(int(baseReady.at[each,"year"])>1985):
        table_for_softset.at[each,'Years_after_1985'] = 1

In [63]:
#wstawianie 1 do Duration<100
for each in range(len(baseReady)):
    if(int(baseReady.at[each,"duration"])<100):
        table_for_softset.at[each,'Duration<100'] = 1

#wstawianie 1 do Duration>=100
for each in range(len(baseReady)):
    if(int(baseReady.at[each,"duration"])>=100):
        table_for_softset.at[each,'Duration>=100'] = 1

In [64]:
#wstawianie 1 do Votes_till_5
for each in range(len(baseReady)):
    if(float(baseReady.at[each,"avg_vote"])<5):
        table_for_softset.at[each,'Votes_till_5'] = 1

#wstawianie 1 do Votes_between_5_and_7
for each in range(len(baseReady)):
    if(5<=float(baseReady.at[each,"avg_vote"]) and float(baseReady.at[each,"avg_vote"])<=7):
        table_for_softset.at[each,'Votes_between_5_and_7'] = 1

#wstawianie 1 do Votes_over_7
for each in range(len(baseReady)):
    if(float(baseReady.at[each,"avg_vote"])>7):
        table_for_softset.at[each,'Votes_over_7'] = 1

In [65]:
#wstawienie 1 do English i AnotherLanguage
for each in range(len(baseReady)):
    if("English" in str(baseReady.at[each,"language"])):
        table_for_softset.at[each,'English'] = 1
    else:
        table_for_softset.at[each,'AnotherLanguage'] = 1

In [18]:
table_for_softset.tail()

,title,Years_till_1950,Years_1950-1985,Years_after_1985,Duration<100,Duration>=100,Votes_till_5,Votes_between_5_and_7,Votes_over_7,English,...,Thriller,Sport,Animation,Musical,Music,Film-Noir,Adult,Documentary,Reality-TV,News
85850,Le lion,0,0,1,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
85851,De Beentjes van Sint-Hildegard,0,0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
85852,Padmavyuhathile Abhimanyu,0,0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
85853,Sokagin Çocuklari,0,0,1,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
85854,La vida sense la Sara Amat,0,0,1,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [66]:
table_for_softset.to_csv('final_base.csv',index=False)

In [34]:
finale=pd.read_csv("final_base.csv")
finale = finale.drop("imdb_title_id", axis=1)

In [35]:
class SoftSet:
    @staticmethod
    def classify(sample, X, Y):

        values = {}
        for j in range (0, len(X), 1):
            values[X[j]] = 0
    
        for i in range(len(Y)):
            for key in Y.columns:
                values[X[i]] += Y.iloc[i][key] * sample[key]

        values = sorted(values.items(), key = lambda kv:(kv[1], kv[0]),reverse= True)

        result = []
        for i in range(5):
            result.append(values[i][0])
            #print(values[i][0])

        return result

In [44]:
id, result, titles = [], [], []

#zbiór X <- id
for i in range(len(dane)):
    id.append(dane.iloc[i]['imdb_title_id'])

#zbiór Y <- finale

#sample <- preferences
preferences = {
'Years_till_1950':0,'Years_1950-1985':0,'Years_after_1985':0,'Duration<100':0,'Duration>=100':0,
'Votes_till_5':0,'Votes_between_5_and_7':0,'Votes_over_7':0,'English':0,'AnotherLanguage':0,
'Romance':0,'Biography':0,'Crime':0,'Drama':0,'History':0,'Adventure':0,'Fantasy':0,'War':0,
'Mystery':0,'Horror':0,'Western':0,'Comedy':0,'Family':0,'Action':0,'Sci-Fi':0,'Thriller':0,
'Sport':0,'Animation':0,'Musical':0,'Music':0,'Film-Noir':0,'Adult':0,'Documentary':0,'Reality-TV':0,'News':0
}

In [45]:
#POBIERANIE ODPOWIEDZI

#1
a = input("Do you want the characters to speak English? Yes/No/Neutrally")
answear = a.capitalize()
while(answear != "Yes" and answear != "No" and answear != "Neutrally"):
    answear = input("Incorrect data. Try again!")
    answear = answear.capitalize()

if answear == "Yes":
	preferences['English'] = 1
elif answear == "No":
	preferences['AnotherLanguage'] = 1




#2
a = input("Do you want the movie to last longer than 100 minutes? Yes/No/Neutrally")
answear = a.capitalize()
while(answear != "Yes" and answear != "No" and answear != "Neutrally"):
    answear = input("Incorrect data. Try again!")
    answear = answear.capitalize()

if answear == "Yes":
	preferences['Duration>=100'] = 1
elif answear == "No":
	preferences['Duration<100'] = 1





#3
answear = input("""The movies are usually rated on a scale from 1 to 10. Does other people's opinion matter? 1/2/3/4 \n
1. No, movie can have less than 5 points \n
2. Kinda - 5 up to 7 points is fine with me \n
3. Give me only the best ones - over 7 points \n
4. I prefer to do my own judgement, so that's irrelevant""")

while(answear not in ['1','2','3','4']):
    answear = input("Incorrect data. Try again!")

if answear ==  '1':
    preferences['Votes_till_5'] = 1
elif answear ==  '2':
    preferences['Votes_between_5_and_7'] = 1
elif answear ==  '3':
    preferences['Votes_over_7'] = 1




#4
answear = input("""When should the movie have been shot? 1/2/3/4 \n
1. Before 1950 \n
2. Between 1950 and 1985 \n
3. After 1985 \n
4. I have no preferences""")

while(answear not in ['1','2','3','4']):
    answear = input("Incorrect data. Try again!")

if answear ==  '1':
    preferences['Years_till_1950'] = 1
elif answear ==  '2':
    preferences['Years_1950-1985'] = 1
elif answear ==  '3':
    preferences['Years_after_1985'] = 1




#5
answear = input("""Select your favourite genres from the list. Write them down seperated by spaces and press 'Enter'. (If you don't have preferences type 'Neutrally') : \n 
 Romance 
 Biography 
 Crime
 Drama
 History
 Adventure
 Fantasy
 War
 Mystery
 Horror
 Western
 Comedy
 Family
 Action
 Science-Fiction
 Thriller
 Sport
 Animation
 Musical
 Music
 Film-Noir
 Adult
 Documentary
 Reality-TV
 News
 """)

In [46]:
 if answear.capitalize() !=  'Neutrally' and answear != "":
    movie_genres = answear.split(" ")
    for i in movie_genres:
        i = i.capitalize()
        if i in preferences:
            preferences[i] = 1

In [47]:
print(preferences)

{'Years_till_1950': 1, 'Years_1950-1985': 0, 'Years_after_1985': 0, 'Duration<100': 1, 'Duration>=100': 0, 'Votes_till_5': 0, 'Votes_between_5_and_7': 1, 'Votes_over_7': 0, 'English': 1, 'AnotherLanguage': 0, 'Romance': 0, 'Biography': 0, 'Crime': 0, 'Drama': 1, 'History': 0, 'Adventure': 0, 'Fantasy': 0, 'War': 0, 'Mystery': 0, 'Horror': 1, 'Western': 0, 'Comedy': 0, 'Family': 0, 'Action': 0, 'Sci-Fi': 0, 'Thriller': 0, 'Sport': 0, 'Animation': 0, 'Musical': 0, 'Music': 0, 'Film-Noir': 0, 'Adult': 0, 'Documentary': 0, 'Reality-TV': 0, 'News': 0}

In [49]:
result = SoftSet.classify(preferences,id,finale)
#import sys
titles = []

for i in range(len(dane)):
    if dane.iloc[i]['imdb_title_id'] in str(result):
        titles.append(baseReady.iloc[i])

info = ["Title: ", "Oryginal title: ", "Year: ", "Genre: ", "Duration: ", "Country: ", "Language: ", "Director: ", "Writer", "Production company: ", "Actors: ", "Description: ", "Average vote: "]    

print("We offer you the following movies: \n \n")
for i in range(5):
    for j in range(1,len(info)):
        print(info[j-1] + str(titles[i][j]))
    print("\n \n")

We offer you the following movies:


Title: Manicomio
Oryginal title: Bedlam
Year: 1946
Genre: Drama, Horror, Thriller
Duration: 79
Country: USA
Language: English
Director: Mark Robson
WriterWilliam Hogarth, Val Lewton
Production company: RKO Radio Pictures
Actors: Boris Karloff, Anna Lee, Billy House, Richard Fraser, Glen Vernon, Ian Wolfe, Jason Robards Sr., Leyland Hodgson, Joan Newton, Elizabeth Russell
Description: Nell Bowen, the spirited protege of rich Lord Mortimer, becomes interested in the conditions of notorious St. Mary's of Bethlehem Asylum (Bedlam). Encouraged by the Quaker Hannay, she tries...



Title: The Spider Woman Strikes Back
Oryginal title: The Spider Woman Strikes Back
Year: 1946
Genre: Drama, Horror, Thriller
Duration: 59
Country: USA
Language: English
Director: Arthur Lubin
WriterEric Taylor
Production company: Universal Pictures
Actors: Gale Sondergaard, Brenda Joyce, Kirby Grant, Milburn Stone, Rondo Hatton, Hobart Cavanaugh, Ruth Robinson, Adda Gleason, Lois Austin, Tom Daly, Eula Guy, Norman Leavitt, Guy Beach, Frank O'Connor, Jack Perrin
Description: A young girl goes to work as a live-in caretaker for a spooky old woman. She doesn't know that every night, the woman drains some blood from her to feed her strange plant.



Title: Valley of the Zombies
Oryginal title: Valley of the Zombies
Year: 1946
Genre: Action, Drama, Horror
Duration: 56
Country: USA
Language: English
Director: Philip Ford
WriterDorrell McGowan, Stuart E. McGowan
Production company: Republic Pictures (I)
Actors: Robert Livingston, Lorna Gray, Ian Keith, Thomas E. Jackson, Charles Trowbridge, Earle Hodgins, LeRoy Mason, William Haade, Wilton Graff, Charles Cane, Russ Clark, Chuck Hamilton, Wheaton Chambers
Description: Dr. Maynard (Charles Trowbridge') tells Dr. Terry Evans (



Title: Daughter of Darkness
Oryginal title: Daughter of Darkness
Year: 1948
Genre: Crime, Drama, Horror
Duration: 91
Country: UK
Language: English
Director: Lance Comfort
WriterMax Catto, Max Catto
Production company: A.R. Shipman Productions
Actors: Anne Crawford, Maxwell Reed, George Thorpe, Barry Morse, Liam Redmond, Cyril Smith, Honor Blackman, Denis Goacher, Grant Tyler, Norman Shelley, George Merritt, Ann Clery, Arthur Hambling, David Greene, Leslie Armstrong
Description: Emily, a pretty young Irish girl, gets a job on an English farm owned by the Tallent family. The local men take to her but the women don't, objecting to her flirtatious nature with their ...



Title: The Greed of William Hart
Oryginal title: The Greed of William Hart
Year: 1948
Genre: Drama, Horror
Duration: 80
Country: UK
Language: English
Director: Oswald Mitchell
WriterJohn Gilling
Production company: Ambassador . . . Bushey Productions
Actors: Tod Slaughter, Henry Oscar, Jenny Lynn, Winifred Melville, Aubrey Woods, Patrick Addison, Arnold Bell, Mary Love, Ann Trego, Edward Malin, Hubert Woodward, Dennis Wyndham
Description: A story of body snatchers in Edinburgh, based on Burke and Hare.